<div class="card grey darken-3 white-text hoverable rounded">
  <div class="card-content" style="padding-bottom: 1rem">
    <div class="card-title truncate"><%= post.title %></div>
    <p><%= post.body %></p>
    
    <% if (locals.currentUser && currentUser.membershipStatus === 'member') { %>
      <div
        style="
          display: grid;
          grid-template-columns: auto 1fr 1fr auto;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;
        "
      >
        <i class="material-icons-round">watch_later</i>
        <span class="truncate left-align"><%= post.formatted_date %></span>
        <i class="material-icons-round right-align">perm_identity</i>
        <span class="truncate"><%= post.creator.full_name %></span>
      </div>
    <% } %>
    
  </div>

  <% if (currentUser && currentUser.admin) { %>
    <div class="card-action left-align">
      <a href="/post/delete/<%= post.id %>" class="red-text">Delete</a>
    </div>
  <% } %>

</div>
