<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <div class="container center-align">
        <div class="row">
          <div class="col s12">
            <h1 class="truncate"><%= title %></h1>
            <p>Welcome to <%= title %></p>
          </div>
        </div>

        <div class="row">
          <h2>Recent Posts</h2>
          <% if (posts && posts.length > 0) { %>
          <ul>
            <% posts.forEach(post => { %>
            <li><%- include('./partials/post-card', {post}) %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
