<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="main">
      <div class="container center-align">
        <div class="row">
          <div class="col s12">
            <h1>Welcome <%= currentUser.full_name %></h1>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <a class="btn green" href="/new-post">Create a new Post</a>
          </div>
        </div>

        <% if (locals.messages && locals.messages.length > 0) { %> <%-
        include('./partials/messages', {messages}) %> <% } %>

        <div class="row blue lighten-5">
          <div class="col s12">
            <h5>Current Status: <%=currentUser.membershipStatus %></h5>
          </div>

          <% if (currentUser.membershipStatus !== 'member') { %>
          <div class="col s12">
            <p>Enter the secret passcode and upgrade your membership now!</p>
          </div>

          <div class="col s12 text-field">
            <form action="/upgrade" method="post">
              <div class="col s12 input-field">
                <label for="secret">Secret Passcode</label>
                <input type="text" required name="secret" id="secret" />
              </div>

              <div class="col s12 input-field">
                <button type="submit" class="purple btn">Upgrade</button>
              </div>
            </form>
          </div>
          <% } %>
        </div>

        <div class="row">
          <div class="col s12">
            <a href="/logout" class="btn red">Logout</a>
          </div>
        </div>

        <% if (!currentUser.admin) { %>
        <div class="row blue lighten-5 blue-text">
          <div class="col s12">
            <p>Are you an admin?</p>
            <p><a class="btn blue" href="/admin">Upgrade to admin</a></p>
          </div>
        </div>
        <% } else {%>
        <div class="row blue lighten-5 blue-text">
          <div class="col s12">
            <p>Administrator</p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
